.box {
    -webkit-box-shadow: 1px 1px 4px 1px rgba(148,148,148,0.25);
    box-shadow: 1px 1px 4px 1px rgba(148,148,148,0.25);
}

.contact-form {
    padding: 20px;
}

h2 {
    text-align: center;
    background: rgb(194, 208, 221);
    margin: 0;
    padding: 20px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    padding-top: 40px;
}