<!-- Course Header -->
<div class="header jumbotron">
  <div class="course-header container animated fadeInLeftBig">
    <!-- Course banner -->
    <div class="banner">
      <img src={{detailcourse[0]?.bannerurl}} alt="hmtl">
    </div>
    <!-- Course banner end -->
    <div class="info">
      <h1 class="title">{{detailcourse[0]?.name}}</h1>
      <h4 class="stitle">{{detailcourse[0]?.title}}</h4>
      <div class="course-info">
        <div class="teacher">
          Test course teacher
        </div>
        <div class="cate">Category: {{detailcourse[0]?.cate}}</div>
      </div>
    </div>
  </div>
</div>
<!-- Course Header End -->

<!-- Course Body -->

<section class="body animated bounceInRight">
  <div class="course-detail container">
    <div class="main-content">

      <!-- Media Player -->
      <!-- Intro video of current course  -->
      <div class="vplayer" *ngIf="introvideo">
        <iframe width="100%" height="500" src="https://www.youtube.com/embed/viHILXVY_eU" frameborder="0" allow="autoplay; encrypted-media"
          allowfullscreen></iframe>
      </div>

      <!-- lesson video  -->
      <div class="vplayer lesson-video plyr__video-embed" id="player" *ngIf="!introvideo">
        <iframe width="100%" height="500" src="https://www.youtube.com/embed/bTqVqk7FSmY?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
          allowfullscreen allowtransparency allow="autoplay"></iframe>
      </div>

      <!-- Media Player End -->

      <div class="course-description">
        <h3>Course Description</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, reprehenderit? Iste vitae quia tenetur eos asperiores
          neque eius. Magni autem inventore esse, corporis tenetur quis rem ut vero ex provident!</p>
        <h3>Why study this course</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, tenetur? Aperiam ex cumque ipsa soluta earum consequatur
          dolore saepe? Aut itaque alias iure quisquam cum officia cumque debitis, ullam quas.</p>
      </div>
      <div class="course-lesson">
        <div class="course-lesson-header">
          <h6>{{detailcourse[0]?.title}}</h6>
          <h6>test current lesson data {{crlesson[0]?.name}}</h6>
        </div>
        <ul class="course-lessons-list">
          <li *ngFor='let lesson of courselessons'>
            <a [routerLink]="['', coursecate, courseid, lesson.lpath]">{{lesson.name}}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="sidebar">
      sidebar
    </div>
  </div>
</section>

<!-- Course Body End -->