<section id="footer">
  <div class="container footer animated bounceInRight">
    <div class="contact">
      <img src="../../../assets/images/logo.png" alt="logo" class="logo">
      <ul>
        <li>
          <p>
            <i class="far fa-envelope"></i>
            <a href="#">info@e-learn.com</a>
          </p>
        </li>
        <li>
          <p>
            <i class="fas fa-phone"></i>
            <a href="#">+ (0123) 456 789</a>
          </p>
        </li>
        <li>
          <p>
            <i class="fas fa-fax"></i>+ (0123) 456 789</p>
        </li>
        <li>
          <p>
            <i class="fas fa-map-marker"></i>no 200 Joseob, Canada</p>
        </li>
      </ul>
    </div>

    <div class="link">
      <h3>COMPANY</h3>
      <ul>
        <li>
          <p>
            <a href="#">About US</a>
          </p>
        </li>
        <li>
          <p>
            <a href="#">Blog</a>
          </p>
        </li>
        <li>
          <p>
            <a href="#">LP Profile</a>
          </p>
        </li>
        <li>
          <p>
            <a href="#">Become a Teacher</a>
          </p>
        </li>
        <li>
          <p>
            <a href="#">All Instructor</a>
          </p>
        </li>
      </ul>
    </div>

    <div class="link">
      <h3>LINK</h3>
      <ul>
        <li>
          <p>
            <a href="#">Courses</a>
          </p>
        </li>
        <li>
          <p>
            <a href="#">Shop</a>
          </p>
        </li>
        <li>
          <p>
            <a href="#">Gallery</a>
          </p>
        </li>
        <li>
          <p>
            <a href="#">Services</a>
          </p>
        </li>
        <li>
          <p>
            <a href="#">Contact Us</a>
          </p>
        </li>
      </ul>
    </div>

    <div class="link">
      <h3>SOCIAL</h3>

      <a href="#">
        <i class="fab fa-facebook-square social"></i>
      </a>

      <a href="#">
        <i class="fab fa-twitter-square social"></i>
      </a>

      <a href="#">
        <i class="fab fa-linkedin social"></i>
      </a>

      <a href="#">
        <i class="fab fa-google-plus-square social"></i>
      </a>
    </div>
  </div>
</section>