section#footer {
    background-color: #2c3238;
    margin-top: 40px;
    padding: 20px;
}

.footer {
    display: flex;
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0;
    justify-content: space-between;
}

.logo {
    padding: 21px 0;
}

.contact,
.link {
    padding: 0 10px;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    text-transform: none;
    color: #989898;
}

i {
    padding-right: 20px;
}

li {
    color: #989898;
}

h3 {
    padding: 4px 0;
    font-size: 18px;
    color: white;
}

.social {
    font-size: 50px;
    padding: 0 15px 15px 0px;
}

a:hover {
    color: white;
}
